* { 
	box-sizing: border-box 
} 

body {
	background-color: #D9D9D6;
}

.jumbotron {
	margin: 0 auto 10px auto;
	text-align: center;
	margin-top: 0;
	background-color: #BCC9C5;
	height: 12em;
	padding-top: 1em;
}

h1, h2, h3, h4, p, li {
	font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 50px;
}
img {
	margin-right: .5em;
}

#hangmanBox {
	height: 300px;
	width: 500px;
	text-align: center; 
}

.row {
	opacity: 0.95;
}

#currentWord, .panel-body {
	text-align: center;
}

#bigBox {
	font-size: 20px;

}

span {
	padding: .25em;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: #333;
	color: white;
	margin-top: 10em;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;

}